<nav class="navbar">
  <div class="left-section">
    <img class="imdb-logo" src="assets/icons/logo.svg" alt="imdb" />
    <div class="search-bar">
      <input type="text" placeholder="{{ 'navbar.input.placeholder' | translate }}" name="search-name"
        id="search-input">
      <img class="search-button" src="assets/icons/icon_magnify.svg" alt="search">
    </div>
  </div>
  <div class="right-section">
    <div class="langs">
      <ng-container *ngFor="let lang of langs">
        <img [ngClass]="{'active': lang.value == selectedLang}" (click)="switchLang(lang.value)" class="lang-logo"
          [src]="'assets/icons/flag_' + lang.value + '.svg'" alt="lang" />
      </ng-container>
    </div>
  </div>
</nav>