.navbar {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #000000, #494848);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000000, #494848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .left-section, .right-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        .search-bar, .langs {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;

            img.lang-logo {
                margin-right: 5px;
                cursor: pointer;
                opacity: .5;
                &.active {
                    opacity: 1;
                }
            }                
        }

        .search-bar {
            height: 12px;
            width: 400px;
            background-color: white;
            padding: 5px;
            input[type="text"] {
                flex: 1;
                border: none;
                outline: none;
            }
              
            .search-button {
                background-color: white;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }
    
    .imdb-logo {
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .search-bar-mobile {
        display: none;
    } 

    .right-section .search-button-mobile img {
        display: none;
    }
  }

@media (max-width: 767px) {
    .navbar {
        //padding: 0px;

        .right-section .search-button-mobile img {
            width: 25px;
            filter: invert(100%);
            cursor: pointer;
        }

        .left-section .search-bar {
            display: none;
        }

        .search-bar-mobile {
            //display: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            top: 0;
            width: 95%;
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #000000, #494848);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #000000, #494848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
            input[type="text"] {
                background: transparent;
                padding: 20px 0px;
                border: 0px;
                width: 87%;
                color: white;

                &:focus-visible {
                    outline: none;
                    box-shadow: none;
                }
            }

            .close-button {
                filter: invert(100%);
                cursor: pointer;
            }
        } 
    }
    
}
  