.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s;
    z-index: 999;

    &.is-open {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }

    .modal-content {
      background-color: #fff;
      padding: 20px;
      position: relative;
      width: 400px;

      .modal-title {
        text-align: center;
      }

      .input-wrapper {
        display: flex;
        flex-direction: row;
        margin: 15px;
        opacity: 0.7;
        font-weight: 600;

        .label-section {
          width: 100px;
        }

        .input-section {
          //width: 100px;
        }
      }

      .modal-footer {
        margin: 10px;
        flex-direction: row;
        display: flex;
        justify-content: center;

        button {
          margin: 0px 15px;
          padding: 5px;
          width: 130px;
          border-radius: 0px;
          border: 0px;
          color: white;
          font-size: 14px;
          cursor: pointer;

          &.save-button {
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #000000, #494848);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #000000, #494848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          }

          &.cancel-button {
             background-color: #9B9B9B;
          }
        }
      }
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
}

@media (max-width: 600px) {
  .modal .modal-content {
    width: 98vw;
  }
}