<div class="movie-card-container">
    <div class="card-infos">
        <div class="title-section">
            <div class="primaryTitle">{{item.primaryTitle}}</div>
            <div class="originalTitle">Original Title {{item.originalTitle}}</div>
        </div>
        <div class="info-list">
            <movie-info-list [infoProperties]="item"></movie-info-list>
        </div>
        <img class="edit-movie-btn" (click)="$openEdit.emit(item)" src="assets/icons/icon_pencil.svg" alt="pencil logo" />
    </div>

    <div class="card-logo">
        <img class="card-logo-img" src="assets/icons/icon_poster.svg" alt="card logo" />
    </div>
</div>