.movie-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 420px;
    height: 140px;
    box-shadow: 0 0 11px 0 #E8E5E5;

    .card-infos {
        flex-grow: 1;
        position: relative;
        padding: 10px;
        img.edit-movie-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }
        .primaryTitle {
            font-size: 18px;
        }

        .originalTitle {
            font-size: 12px;
            font-style: italic;
            font-weight: 300;
            color: #9B9B9B;
        }

        .originalTitle, .primaryTitle {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 250px;
        }

        .info-list {
            padding-top: 20px;
        }
    }

    .card-logo {
        background-color: #F3F3F3;
        display: flex;
        align-items: center;
        justify-content: center;
        img.card-logo-img {
            height: 62px;
            padding: 12px;
        }
    }
}

