.main-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .movies-container {
        flex-grow: 1;
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    footer {
        height: 35px;
        background-color: #F3F3F3;
    }
}