.movie-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    .movie-info {
        display: flex;
        flex-direction: column;

        .info-property {
            font-size: 10px;
            background-color: #F3F3F3;
            max-width: 50px;
            text-align: center;
            margin-bottom: 3px;
            border-radius: 3px;
            padding: 1px;
            opacity: 0.7;
        }
    
        .info-value {
            font-size: 11px;
            text-align: center;
            opacity: 0.9;
        }
    }

    
}